@font-face {
    font-family: 'traveling';
    src: url(fonts/TravelingTypewriter.ttf);
    font-style: normal;
}

html, body, div {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.left{
    background-color:rosybrown;
    width: 100%;
    padding: 10px;
    text-align: left;
    margin-bottom: 40px;
}

.right{
    float: right;
    margin-right: 20px;
}

.right a{
    font-family: 'traveling';
    padding: 0 6px;
    color: black;
}

#Coraline {
    color: white;
    width: 250px;
    height: 390px;
    margin: 0 auto; 

}

#Hogwarts {
    color: white;
    width: 250px;
    height: 390px;
    margin: 0 auto;

}

#Rosie {
    color: white;
    width: 250px;
    height: 390px;
    margin: 0 auto;
}

#Twilight {
    color: white;
    width: 250px;
    height: 390px;
}

h2 {
    text-align: left;

}

#Coraline p{
    padding: 0px 10px 17px 10px; 
}

#Hogwarts p{
    padding: 0px 15px -7px 10px;
    
}

#Rosie p{
    padding: 0px 10px 127px 10px;
    
}

#Twilight p {
    padding: 0px 10px 0px 10px;
}

#Hogwarts a {
    background-color: thistle;
}

#Coraline a {
  background-color: thistle;
}

#Rosie a {
    background-color: thistle;
}

#Twilight a {
    background-color: thistle;
}

.boxes { 
    display: flex;
    
    border:3px solid rgb(235, 172, 172);
    width: 280px;
}

.button {
    padding: 10px;
    padding-left: 18%;
    padding-right: 18%;
    width: 100%;
    margin-left: 10px;
}


#Allboxes { 
    display: flex;
    justify-content: space-evenly;
}